body {
    font-family: "Mulish", sans-serif;
}

/* navbar design */


nav h2 {
    color: rgb(18, 19, 45);
    font-size: 36px;
    font-weight: 400;
}

nav ul li {
    padding: 1rem;
    border: 1px solid rgba(3, 7, 18, 0.1);
    border-radius: 50px;
    height: 60px;
    width: 60px;
    background: rgba(18, 19, 45, 0.03);

}

.my-btn {
    border-radius: 50px;
    background: rgb(121, 125, 252);
    color: white;
    padding: 18px 40px 18px 40px;
    font-size: 20px;
    font-weight: 700;
}

/* banner design */

.banner {
    background-image: url('../images/bgbanner.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.banner-card div {
    color: rgba(18, 19, 45, 0.8);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 24px;
}


/* post card design */




/* footer design */
footer {
    background: linear-gradient(180.00deg, rgba(18, 19, 45, 0.05),rgba(18, 19, 45, 0) 100%);
    
}