body {
    font-family: "Mulish", sans-serif;
}

/* navbar design */


nav h2 {
    color: rgb(18, 19, 45);
    font-size: 36px;
    font-weight: 400;
}

nav ul li {
    padding: 1rem;
    border: 1px solid rgba(3, 7, 18, 0.1);
    border-radius: 50px;
    height: 60px;
    width: 60px;
    background: rgba(18, 19, 45, 0.03);

}

nav button {
    border-radius: 50px;
    background: rgb(121, 125, 252);
    color: white;
    padding: 18px 40px 18px 40px;
    font-size: 20px;
    font-weight: 700;
}

